version: "3.4"
services:
  db:
    image: kartoza/postgis:12.0
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_MULTIPLE_EXTENSIONS=postgis,postgis_topology
      - EXTRA_CONF=log_min_messages = 'INFO'\n
    user: ${UID}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - type: bind
        source: ${PWD}/.volumes/postgresql
        target: /var/lib/postgresql
  s3:
    image: minio/minio
    env_file: ./minio.env
    user: ${UID}
    command: server /data
    volumes:
      - type: bind
        source: ${PWD}/.volumes/minio
        target: /data
    ports:
      - 9090:9000
  s3-client:
    image: minio/mc
    links:
      - s3
    env_file: ./minio.env
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
        set +o history;
        while ! echo > /dev/tcp/s3/9000;
        do
          echo waiting for minio;
          sleep 1;
        done;
        echo minio server is up;
        /usr/bin/mc alias set minio http://s3:9000 minioadmin minioadmin;
        /usr/bin/mc policy set download minio/service-stac-local;
        exit 0;
      "
