[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
isort = "*"
pylint = "*"
pylint-django = "*"
django-extensions = "*"
django_debug_toolbar = "*"
pip = "*"
tblib = "*"  # needed for traceback when running tests in parallel
mock = "*"
responses = "*"
requests-mock = "*"
moto = {extras = [ "s3",], version = "*"}
debugpy = "*"
parameterized = "*"
stac-api-validator = "*"
pytest = "*"
pytest-django = "*"
pytest-dotenv = "*"
pytest-cov = "*"
pytest-xdist = "*"

[packages]
gevent = "~=25.5"
gunicorn = "~=23.0"
psycopg2-binary = "~=2.9"
numpy = "~=2.3"
python-dotenv = "~=1.1"
djangorestframework = "~=3.16"
Django = "~=5.2"
PyYAML = "~=6.0"
whitenoise = "~=6.9"
djangorestframework-gis = "~=1.2"
python-dateutil = "~=2.9"
django-storages = "~=1.14"
boto3 = "~=1.38"
django-rest-framework-condition = "~=0.1"
requests = "~=2.32"
py-multihash = "~=2.0"
django-prometheus = "~=2.3"
django-admin-autocomplete-filter = "~=0.7"
django-pgtrigger = "~=4.15"
django-environ = "~=0.12"
language-tags = "~=1.2"
logging-utilities = "~=5.0"

[requires]
python_version = "3.12"
