[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "~=0.40.2"
isort = "~=5.13.2"
pylint = "~=3.2.2"
pylint-django = "~=2.6.1"
django-extensions = "~=3.2.3"
django_debug_toolbar = "*"
pip = "*"
tblib = "*"  # needed for traceback when running tests in parallel
mock = "~=5.1.0"
responses = "!=0.12.1" # skip version 0.12.1 which has a bug see https://github.com/getsentry/responses/issues/358
requests-mock = "~=1.12.1"
moto = {extras = [ "s3",], version = "~=5.1.5"}
debugpy = "*"
parameterized = "*"
stac-api-validator = "~=0.6.2"
pytest = "*"
pytest-django = "*"
pytest-dotenv = "*"
pytest-cov = "*"
pytest-xdist = "*"

[packages]
gevent = "~=25.4.1"
gunicorn = "~=23.0.0"
psycopg2-binary = "~=2.9.9"
numpy = "~=1.26.4"
python-dotenv = "~=1.0.1"
djangorestframework = "~=3.16.0"
Django = "~=5.2.3"
PyYAML = "~=6.0.1"
whitenoise = "~=6.6.0"
djangorestframework-gis = "~=1.2"
python-dateutil = "~=2.9.0.post0"
django-storages = "~=1.14.3"
boto3 = "~=1.38.23"
django-rest-framework-condition = "~=0.1.1"
requests = "~=2.32.3"
py-multihash = "~=2.0.1"
django-prometheus = "~=2.3.1"
django-admin-autocomplete-filter = "~=0.7.1"
django-pgtrigger = "~=4.15.2"
django-environ = "*"
language-tags = "*"
logging-utilities = "~=5.0.0"

[requires]
python_version = "3.12"
