[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "~=0.30.0"
isort = "~=4.3.21"
pylint = "~=2.8.3"
pylint-django = "~=2.4.4"
django-extensions = "~=3.1.5"
django-debug-toolbar = "~=3.2.4"
pip = "*"
tblib = "*"  # needed for traceback when running tests in parallel
mock = "~=4.0.2"
responses = "!=0.12.1" # skip version 0.12.1 which has a bug see https://github.com/getsentry/responses/issues/358
requests-mock = "~=1.9.3"

[packages]
gevent = "~=20.12.0"
gunicorn = "~=19.9.0"
psycopg2-binary = "~=2.8.5"
logging-utilities = "~=1.3.0"
numpy = "~=1.19.2"
python-dotenv = "~=0.14.0"
djangorestframework = "~=3.12.1"
Django = "~=3.1.8"
PyYAML = "~=5.4"
whitenoise = "~=5.2.0"
djangorestframework-gis = "~=0.16"
python-dateutil = "~=2.8.1"
django-solo = "~=1.1.3"
django-storages = "~=1.11.1"
boto3 = "~=1.16.32"
django-rest-framework-condition = "~=0.1.1"
requests = "~=2.25.0"
py-multihash = "~=2.0.1"
django-prometheus = "~=2.2.0"
django-admin-autocomplete-filter = "~=0.6.1"
django-pgtrigger = "~=2.3.2"

[requires]
python_version = "3.7"

[dev-packages.moto]
extras = [ "s3",]
version = "*"
